$dark: #000;

$grey-med: #ddd;
$grey-light: #f7f7f7;
$grey-text-light: #717171;
$grey-text-dark: #222;
$orange: #ff9900;
$orange-accent: #d68000;
$orange-hover: rgba(255, 153, 0, 0.1);
$orange-light: #fffcbb;
$orange-dark: #fed876;

$border-light: #ebebeb;

$blue-light: #e5f0ff;
$blue-middle: #b7d4ff;
