@font-face {
  font-family: 'MyWebFont';
  src: url('../../src/fonts/Foreverise_1-Regular.ttf');
}

.logo  {
  background: #130523;
  padding: 50px 0 60px 0;
}
.logo__container {
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo__svg {
  display: flex;
  justify-content: center;
}
.logo__svg img {
  max-width: 1380px;
  width: 85%;
  filter: brightness(110%);
}

.logo__text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media (max-width: 1100px) {
    margin-top: -42px;
  }
  @media (max-width: 1024px) {
    margin-top: -25px;
  }
  @media (max-width: 580px) {
    margin-top: -13px;
  }
  @media (max-width: 400px) {
    margin-top: -10px;
  }
}



.one {
  opacity: 1;
  animation: fade 8s infinite alternate;
}

.two {
  opacity: 1;
  animation: fade2 8s infinite alternate;
}

.red {
  opacity: 1;
  animation: fade3 8s infinite alternate;
}

p {
  margin: 0;
  font-family: 'MyWebFont';
  font-size: 185px;
  line-height: 80%;

  text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
  0px 0px 39.3125px rgba(255, 38, 169, 0.25),
  0px 0px 31.45px rgba(255, 38, 169, 0.25),
  0px 0px 23.5875px rgba(255, 38, 169, 0.25),
  0px 0px 15.725px rgba(255, 38, 169, 0.25),
  11.7937px 15.725px 3.93125px #000000,
  11.7937px 15.725px 11.7937px #000000;
  //color: #FF5EBF;
  color: #EA43B9;
  position: absolute;
  top: 0;
  z-index: 3;
  text-shadow: none!important;
  @media (min-width: 1440px) {
    font-size: 165px;
  }
  @media (max-width: 1440px ) {
    font-size: calc(38px + 145 * ((100vw - 320px) / 1120));

    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    8.7937px 8.725px 3.93125px #000000,
    8.7937px 8.725px 11.7937px #000000;
  }
  @media (max-width: 1024px ) {
    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    6.7937px 6.725px 3.93125px #000000,
    6.7937px 6.725px 11.7937px #000000;
  }
  @media (max-width: 768px ) {
    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    4.7937px 4.725px 3.93125px #000000,
    4.7937px 4.725px 11.7937px #000000;
  }
}



span {
  font-family: 'MyWebFont';
  font-size: 185px;
  line-height: 80%;
  margin-left: -4px;
  position: relative;

  text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
  0px 0px 39.3125px rgba(255, 38, 169, 0.25),
  0px 0px 31.45px rgba(255, 38, 169, 0.25),
  0px 0px 23.5875px rgba(255, 38, 169, 0.25),
  0px 0px 15.725px rgba(255, 38, 169, 0.25),
  11.7937px 15.725px 3.93125px #000000,
  11.7937px 15.725px 11.7937px #000000;
  color: #FF5EBF;
  color: #EA43B9;

  @media (min-width: 1440px) {
    font-size: 165px;
  }
  @media (max-width: 1600px) {
    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    9.7937px 9.725px 3.93125px #000000,
    9.7937px 9.725px 11.7937px #000000;
  }
  @media (max-width: 1440px) {
    font-size: calc(40px + 145 * ((100vw - 320px) / 1120));

    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    8.7937px 8.725px 3.93125px #000000,
    8.7937px 8.725px 11.7937px #000000;
  }
  @media (max-width: 1024px) {
    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    6.7937px 6.725px 3.93125px #000000,
    6.7937px 6.725px 11.7937px #000000;
  }
  @media (max-width: 768px) {
    text-shadow: 0px 0px 30px rgba(255, 38, 169, 0.25),
    0px 0px 39.3125px rgba(255, 38, 169, 0.25),
    0px 0px 31.45px rgba(255, 38, 169, 0.25),
    0px 0px 23.5875px rgba(255, 38, 169, 0.25),
    0px 0px 15.725px rgba(255, 38, 169, 0.25),
    4.7937px 4.725px 3.93125px #000000,
    4.7937px 4.725px 11.7937px #000000;
    margin-left: -1px;
  }
  &:nth-child(1) {
    font-size: calc(60px + 170 * ((100vw - 320px) / 1120));
    @media (min-width: 1440px) {
      font-size: 245px;
    }
  }
  &:nth-child(2) {
    color: #342226;
    position: relative;
    z-index: 2;
}
  &:nth-child(3) {
    color: #342226;
    position: relative;
    z-index: 2;
}
  &:nth-child(7) {
    color: #342226;
    position: relative;
    z-index: 2;
  }
}

.neon {
  animation: neon 0.2s  infinite;
}


@media (max-width: 1440px) {
  span:nth-child(1) {
    font-size: calc(60px + 170 * ((100vw - 320px) / 1120));
  }
}

@keyframes neon {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  26.39% {
    opacity: 1;
  }

  26.40% {
    opacity: 0;
  }

  29.90% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  30.10% {
    opacity: 0;

  }

  32.70% {
    opacity: 0;
  }

  32.80% {
    opacity: 1;
  }

  33.80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 1;
  }

  19.59% {
    opacity: 1;
  }

  19.60% {
    opacity: 0;
  }

  20.39% {
    opacity: 0;
  }

  20.40% {
    topacity: 1;
  }

  20.41% {
    opacity: 0;
  }

  22.39% {
    opacity: 0;
  }

  22.40% {
    opacity: 1;
  }

  26.39% {
    opacity: 1;
  }

  26.40% {
    opacity: 0;
  }

  27.19% {
    opacity: 0;
  }

  27.20% {
    opacity: 1;
  }

  29.59% {
    opacity: 1;
  }

  29.60% {
    copacity: 0;
  }

  32.39% {
    copacity: 0;
  }

  32.40% {
    opacity: 1;
  }

  35.19% {
    opacity: 1;
  }

  35.20% {
    opacity: 0;
  }

  35.99% {
    opacity: 0;
  }

  36% {
    opacity: 1;
  }

  37.59% {
    opacity: 1;
  }

  37.60% {
    opacity: 0;
  }

  38% {
    opacity: 1;
  }

  39.99% {
    opacity: 1;
  }

  41% {
    opacity: 0;
  }

  43.59% {
    opacity: 0;
  }

  43.60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade3 {
  0% {
    opacity: 1;
  }

  38.39% {
    opacity: 1;
  }

  38.40% {
    opacity: 0;
  }

  38.79% {
    opacity: 0;
  }

  38.80% {
    opacity: 1;
  }

  39.19% {
    opacity: 1;
  }

  39.20% {
    opacity: 0;
  }

  39.59% {
    opacity: 0;
  }

  39.60% {
    opacity: 1;
  }

  39.99% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  40.39% {
    opacity: 0;
  }

  40.40% {
    opacity: 1;
  }

  40.99% {
    opacity: 1;
  }

  41% {
    opacity: 0;
  }

  41.19% {
    opacity: 0;
  }

  41.20% {
    opacity: 1;
  }

  41.59% {
    opacity: 1;
  }

  41.60% {
    opacity: 0;
  }
  41.99% {
    opacity: 0;
  }

  42% {
    opacity: 1;
  }
  42.39% {
    opacity: 1;
  }

  42.40% {
    opacity: 0;
  }
  42.79% {
    opacity: 0;
  }

  42.80% {
    opacity: 1;
  }
  43.19% {
    opacity: 1;
  }

  43.20% {
    opacity: 0;
  }
  54.20% {
    opacity: 0;
  }

  54.24% {
    opacity: 1;
  }
  55.24% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}